<template>
  <div>
    <h1>Statistik Dunia Covid-19</h1>
    <div v-if="loading" class="loading">Memuat...</div>
    <global-chart v-else :series="series" />
    <div class="source" align="center">
      <div>Update Terakhir: {{ getLastUpdate }}</div>
      <div>
        Sumber:
        <a class="link" href="https://covid19.mathdro.id" target="_blank">mathdroid</a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import moment from 'moment'

export default {
  components: {
    GlobalChart: () => import('@/components/GlobalChart')
  },
  data () {
    return {}
  },
  methods: {
    ...mapActions([
      'getGlobal',
      'getSummary'
    ])
  },
  computed: {
    ...mapState({
      data: state => state.global.data,
      loading: state => state.global.loading,
      lastUpdate: state => state.summary.data.lastUpdate
    }),
    series () {
      return { data: this.data, lastUpdate: this.lastUpdate }
    },
    getLastUpdate () {
      return moment(this.lastUpdate).locale('id').format('dddd, DD MMM YYYY HH:mm')
    }
  },
  created () {
    this.getGlobal()
    this.getSummary()
  }
}
</script>

<style lang="scss" scoped>
  .loading {
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .source {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
  }

  .link {
    color: unset;
    text-decoration: underline;
  }

  @media screen and (max-width: 710px) {
    h1 {
      font-size: 7vw;
    }
  }
</style>
