<template>
  <div class="container"></div>
</template>

<script>
import * as am4core from '@amcharts/amcharts4/core'
import * as am4maps from '@amcharts/amcharts4/maps'
import am4themesAnimated from '@amcharts/amcharts4/themes/animated'
import am4geodataContinentsLow from '@amcharts/amcharts4-geodata/continentsLow'
import am4geodataWorldLow from '@amcharts/amcharts4-geodata/worldLow'
import numeral from 'numeral'
// import moment from 'moment'

am4core.useTheme(am4themesAnimated)

const renderMaps = (element, series) => {
  let chart = am4core.create(element, am4maps.MapChart)

  chart.preloader.disabled = true
  let indicator
  function showIndicator () {
    indicator = chart.tooltipContainer.createChild(am4core.Container)
    indicator.background.fill = am4core.color('#fff')
    indicator.background.fillOpacity = 0.8
    indicator.width = am4core.percent(100)
    indicator.height = am4core.percent(100)

    var indicatorLabel = indicator.createChild(am4core.Label)
    indicatorLabel.text = 'Loading...'
    indicatorLabel.align = 'center'
    indicatorLabel.valign = 'top'
    indicatorLabel.fontSize = 25
  }

  function hideIndicator () {
    indicator.hide()
  }

  showIndicator()

  try {
    chart.geodata = am4geodataWorldLow
  } catch (e) {
    chart.raiseCriticalError(new Error('Map geodata could not be loaded. Please download the latest <a href="https://www.amcharts.com/download/download-v4/">amcharts geodata</a> and extract its contents into the same directory as your amCharts files.'))
  }

  // let lastUpdate = moment(series.lastUpdate).locale('id').format('dddd, DD MMM YYYY HH:mm')
  // let dataSource = chart.createChild(am4core.Label)
  // dataSource.text = 'Update Terakhir: ' + lastUpdate
  // dataSource.fontSize = 12
  // dataSource.align = 'left'
  // dataSource.valign = 'top'
  // dataSource.fill = am4core.color('#927459')
  // dataSource.padding(10, 10, 10, 10)
  // dataSource.marginLeft = 30
  // dataSource.marginTop = 30

  // Set projection
  chart.projection = new am4maps.projections.Orthographic()
  chart.panBehavior = 'rotateLongLat'
  chart.padding(20, 20, 20, 20)

  // Add zoom control
  chart.zoomControl = new am4maps.ZoomControl()
  chart.zoomControl.marginRight = -10
  chart.zoomControl.marginBottom = -15

  var homeButton = new am4core.Button()
  homeButton.events.on('hit', function () {
    chart.goHome()
  })

  homeButton.icon = new am4core.Sprite()
  homeButton.padding(7, 5, 7, 5)
  homeButton.width = 30
  homeButton.icon.path = 'M16,8 L14,8 L14,16 L10,16 L10,10 L6,10 L6,16 L2,16 L2,8 L0,8 L8,0 L16,8 Z M16,8'
  homeButton.marginBottom = 10
  homeButton.parent = chart.zoomControl
  homeButton.insertBefore(chart.zoomControl.plusButton)

  chart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color('#bfa58d')
  chart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 1

  // set center maps
  chart.deltaLongitude = 610
  chart.deltaLatitude = -5

  // limits vertical rotation
  chart.adapter.add('deltaLatitude', function (delatLatitude) {
    return am4core.math.fitToRange(delatLatitude, -90, 90)
  })

  // Create map polygon series
  var shadowPolygonSeries = chart.series.push(new am4maps.MapPolygonSeries())
  shadowPolygonSeries.geodata = am4geodataContinentsLow

  try {
    shadowPolygonSeries.geodata = am4geodataContinentsLow
  } catch (e) {
    shadowPolygonSeries.raiseCriticalError(new Error('Map geodata could not be loaded. Please download the latest <a href="https://www.amcharts.com/download/download-v4/">amcharts geodata</a> and extract its contents into the same directory as your amCharts files.'))
  }

  shadowPolygonSeries.useGeodata = true
  shadowPolygonSeries.dx = 2
  shadowPolygonSeries.dy = 2
  shadowPolygonSeries.mapPolygons.template.fill = am4core.color('#000')
  shadowPolygonSeries.mapPolygons.template.fillOpacity = 0.2
  shadowPolygonSeries.mapPolygons.template.strokeOpacity = 0
  shadowPolygonSeries.fillOpacity = 0.1
  shadowPolygonSeries.fill = am4core.color('#000')

  // Create map polygon series
  var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries())
  polygonSeries.useGeodata = true

  polygonSeries.calculateVisualCenter = true
  polygonSeries.tooltip.background.fillOpacity = 0.2
  polygonSeries.tooltip.background.cornerRadius = 20

  var template = polygonSeries.mapPolygons.template
  template.nonScalingStroke = true
  template.fill = am4core.color('#f9e3ce')
  template.stroke = am4core.color('#e2c9b0')

  polygonSeries.calculateVisualCenter = true
  template.propertyFields.id = 'id'
  template.tooltipPosition = 'fixed'
  template.fillOpacity = 1

  template.events.on('over', function (event) {
    if (event.target.dummyData) {
      event.target.dummyData.isHover = true
    }
  })
  template.events.on('out', function (event) {
    if (event.target.dummyData) {
      event.target.dummyData.isHover = false
    }
  })

  var hs = polygonSeries.mapPolygons.template.states.create('hover')
  hs.properties.fillOpacity = 1
  hs.properties.fill = am4core.color('#deb7ad')

  var graticuleSeries = chart.series.push(new am4maps.GraticuleSeries())
  graticuleSeries.mapLines.template.stroke = am4core.color('#fff')
  graticuleSeries.fitExtent = false
  graticuleSeries.mapLines.template.strokeOpacity = 0.2
  graticuleSeries.mapLines.template.stroke = am4core.color('#fff')

  var measelsSeries = chart.series.push(new am4maps.MapPolygonSeries())
  measelsSeries.tooltip.background.cornerRadius = 20
  measelsSeries.tooltip.autoTextColor = false
  measelsSeries.tooltip.label.fill = '#FFFFFF'
  measelsSeries.tooltip.dy = -5

  var measelTemplate = measelsSeries.mapPolygons.template
  measelTemplate.fill = am4core.color('#bf7569')
  measelTemplate.strokeOpacity = 0
  measelTemplate.fillOpacity = 0.75
  measelTemplate.tooltipPosition = 'fixed'

  var hs2 = measelsSeries.mapPolygons.template.states.create('hover')
  hs2.properties.fillOpacity = 1
  hs2.properties.fill = am4core.color('#86240c')

  polygonSeries.events.on('inited', function () {
    polygonSeries.mapPolygons.each(function (mapPolygon) {
      let count = 0
      let country = data.find(i => i.id === mapPolygon.id)
      if (country) count = country.confirmed

      if (count > 0) {
        var polygon = measelsSeries.mapPolygons.create()
        polygon.multiPolygon = am4maps.getCircle(mapPolygon.visualLongitude, mapPolygon.visualLatitude, Math.max(0.2, Math.log(count) * Math.LN10 / 10))

        polygon.tooltipHTML = `
          <center style="font-size: 18px">
            <strong>${mapPolygon.dataItem.dataContext.name}</strong>
          </center>
          <table width="150px">
            <tr>
              <td align="left">Positif</td>
              <th align="right">${numeral(count).format('0,0')}</th>
            </tr>
            <tr>
              <td align="left">Sembuh</td>
              <th align="right">${numeral(country.recovered).format('0,0')}</th>
            </tr>
            <tr>
              <td align="left">Meninggal</td>
              <th align="right">${numeral(country.deaths).format('0,0')}</th>
            </tr>
          </table>`

        mapPolygon.dummyData = polygon
        polygon.events.on('over', function () {
          mapPolygon.isHover = true
        })
        polygon.events.on('out', function () {
          mapPolygon.isHover = false
        })
      } else {
        mapPolygon.tooltipText = mapPolygon.dataItem.dataContext.name + ': no data'
        mapPolygon.fillOpacity = 0.9
      }
    })
  })

  chart.events.on('ready', () => { hideIndicator() })

  let data = series.data
}

export default {
  props: {
    series: {
      type: [Object, Array],
      required: true
    }
  },
  data () {
    return {
      target: undefined
    }
  },
  methods: {
  },
  computed: {
  },
  mounted () {
    this.target = renderMaps(this.$el, this.series)
  },
  beforeDestroy () {
    this.target.destroy()
  }
}
</script>

<style lang="scss" scoped>
  .container {
    width: 100%;
    height: 75vh;
  }
</style>
